<div class="container-fluid">
	<h1 class="mt-4"> <%=prefecture.name%> </h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><%= link_to '都道府県', prefectures_path %></li>
		<li class="breadcrumb-item active"><%= link_to prefecture.name, prefecture_path%></li>
	</ol>
</div>
