@import "bootstrap";
@import "font-awesome";

$main: #192bc2;
$link-hover: #0056b3;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$white: #ffffff;

footer,
header,
nav {
  display: block;
}

footer {
  color: $white;
  background-color: $main;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: $white;
  padding-top: 70px;
}

hr {
  border: 0;
  border-top: 1px solid $dark;
  box-sizing: content-box;
  height: 0;
  margin: 0;
  overflow: visible;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

li {
  list-style: none;
}

small {
  font-size: 80%;
}

a {
  text-decoration: none;
  background-color: transparent;
  display: block;
  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}

.accordion-body {
  a {
    font-weight: bold;
    padding: 12px;
    &:hover {
      background-color: $main;
      color: $light;
      text-decoration: none;
    }
  }
}

.background-image {
  background-image: image-url('clouds.jpeg');
  background-size: cover;
}

.table {
  width: 100%;
  margin: 1px;
  padding: 3px;
  color: $dark;
  border: 3px solid $dark;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table th,
.table td {
  vertical-align: top;
}

td.border-left {
  border-left: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid;
}
td.border-right {
  border-right: 5px solid;
  border-top: 3px solid;
  border-bottom: 3px solid;
}
td.border-none {
  border-top: 3px solid;
  border-bottom: 3px solid;
}

.btn-outline-primary {
  border-color: $primary;
  font-weight: bold;
  &:hover {
    color: $white;
    background-color: $main;
    a {
      color: $white;
      text-decoration: none;
    }
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: $white;
  text-align: center;
  white-space: nowrap;
  background-color: $main;
  border: 0;
  a {
    font-weight: bold;
    padding: 12px;
    &:hover {
      background-color: $light;
      color: $dark;
      text-decoration: none;
    }
  }
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: $main;
  a {
    color: $white;
  }
}

.navbar-brand:hover,
.navbar-brand:focus {
  a {
    text-decoration: none;
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: $light;
  border-radius: 0.25rem;
}

.breadcrumb-item {
  display: flex;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: $secondary;
  content: "/";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.breadcrumb-item.active {
  color: $secondary;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
