<!-- Footer-->
<footer class="footer text-center">
	<div class="container">
		<div class="row pt-5 mb-5">
			<!-- Footer Location-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">お天気HISTORY</h4>
				<p class="lead mb-3 text-white-50">
					2021/03/13 - <%= l Time.current, format: :long %>
				</p>
				<p class="lead mb-3">
					毎日の天気を記録します
				</p>
				<p class="lead mb-3 text-white-50">
					更新時間 - 正午12時
				</p>
			</div>
			<!-- Footer Social Icons-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">Around the Web</h4>
				<div class="btn btn-outline-light btn-social mx-1"><i class="fab fa-fw fa-github"></i></div>
				<div class="btn btn-outline-light btn-social mx-1"><i class="fab fa-fw fa-twitter"></i></div>
			</div>
			<!-- Footer About Text-->
			<div class="col-lg-4">
				<h4 class="text-uppercase mb-4">About</h4>
				<div>
					<%= link_to 'お天気HISTORYとは？', about_path, class: "btn btn-outline-light btn-social mx-1 mb-3" %>
				</div>
				<p class="lead mb-3">
					Record the daily weather
				</p>
			</div>
		</div>
	</div>
	<!-- Copyright Section-->
	<div class="copyright text-center text-white">
		<div class="container"><small>2021 © suke0828</small></div>
	</div>
</footer>
